    <section style="height:100vh;" class="secPad">
        {{!-- <nav>
            <div class="flex" style="  height: 3em;  border-bottom: 1px white solid;">
                <figure><img src="./img/infiniteFlowLogo.png" alt="logo" height="30"></figure>
                <div style="flex: 2;"></div>
                <div class="flex" style="place-content: space-around; width: 30vw; height: inherit;">
                    <a href="#" class="flex"
                        style="text-decoration: none; height:inherit; border-bottom: 3px white solid;">
                        <h3 style="margin: 0;color: white;" class="links flex">
                            Home
                        </h3>
                    </a>
                    <a href="#" class="flex" style="text-decoration: none; height:inherit;">
                        <h3 style="margin: 0;" class="links flex">
                            Projects
                        </h3>
                    </a>
                    <a href="#" class="flex" style="text-decoration: none; height:inherit;">
                        <h3 style="margin: 0;" class="links flex">
                            About US
                        </h3>
                    </a>
                    <a href="#" class="flex" style="text-decoration: none; height:inherit;">
                        <h3 style="margin: 0;" class="links flex">
                            events
                        </h3>
                    </a>
                    <a href="#" class="flex" style="text-decoration: none; height:inherit;">
                        <h3 style="margin: 0;" class="links flex">
                            FAQs
                        </h3>
                    </a>

                </div>
                <div><button id="jjk">Let's talk</button></div>
            </div>
        </nav> --}}
        <!-- landing -->
        <div class="gerd flex" id="mainCont" style="place-items: start;">
            <div style=" height: 20em;flex-direction: column;place-items: baseline;flex:1;" class="flex">
                <h1 id="bgTxt" class="anik" style="animation-delay: .5s;">{{headingOne}}</h1>
                <article class="anik" style="animation-delay: 1s;">
                {{paraOne1}}
                </article>
                <article class="anik" style="animation-delay: 1.38s;">
                {{paraOne2}}
                </article>
                <article class="anik" style="animation-delay: 2s;">
                {{paraOne3}}
                </article>
                {{!-- <article class="anik" style="animation-delay: 1.38s;">
                    error officia in minima saepe dolore harum odio cupiditate rem!
                    Saepe
                </article>
                <article class="anik" style="animation-delay: 2s;"> voluptate, culpa, voluptates ad facilis porro magni
                    veniam.</article> --}}
                <a href="../contact">
                <button class="bigBtn anik">
                    Get in Touch
                </button>
                </a>
            </div>
            <DIV style="opacity: 0;  ; animation: opl 1s  2.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards; width: 50%;  flex:1;      ">

                <figure class="imgs" style="background-image: url({{firstSlideImg}});">
                    <!-- <img src="./img/pngegg.png" alt="transformer"> -->
                </figure>
            </DIV>
        </div>
        <div class="gerd flex" style="place-items: start;" id="mainCont2">
            <div style=" height: 20em;flex-direction: column;place-items: baseline;flex:1;" class="flex">
                <h1 id="bgTxt" class="anik" style="animation-delay: .5s;">{{headingTwo}}</h1>
                <article class="anik" style="animation-delay: 1s;">
                {{paraTwo1}}
                </article>
                 <article class="anik" style="animation-delay: 1.38s;">
                {{paraTwo2}}
                </article>
                 <article class="anik" style="animation-delay:2s;">
                {{paraTwo3}}
                </article>
                {{!-- <article class="anik" style="animation-delay: 1.38s;">
                    electricity by igniting your world via various energy
                </article>
                <article class="anik" style="animation-delay: 2s;"> sources that best suit your needs</article> --}}
                <a href="../contact">
                <button class="anik bigBtn">
                    Get in Touch
                </button>
                </a>
            </div>
            <DIV
                style="opacity: 0;  ; animation: opl 1s  2.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards; width: 50%;  flex:1;      ">

                <figure class="imgs" style="background-image: url({{secSlideImg}});">
                    <!-- <img src="./img/pngegg.png" alt="transformer"> -->
                </figure>
            </DIV>
        </div>
        <div class="gerd flex" style="place-items: start;" id="mainCont2">
            <div style=" height: 20em;flex-direction: column;place-items: baseline;flex:1;" class="flex">
                <h1 id="bgTxt" class="anik" style="animation-delay: .5s;">{{headingThree}}</h1>
                <article class="anik" style="animation-delay: 1s;">
                {{paraThree1}}
                </article>
                 <article class="anik" style="animation-delay: 1.38s;">
                {{paraThree2}}
                </article>
                 <article class="anik" style="animation-delay:2s;">
                {{paraThree3}}
                </article>
                {{!-- <article class="anik" style="animation-delay: 1.38s;">
                    electricity by igniting your world via various energy
                </article>
                <article class="anik" style="animation-delay: 2s;"> sources that best suit your needs</article> --}}
                <a href="../contact">
                <button class="anik bigBtn">
                    Get in Touch
                </button>
                </a>
            </div>
            <DIV
                style="opacity: 0;  ; animation: opl 1s  2.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards; width: 50%;  flex:1;      ">

                <figure class="imgs" style="background-image: url({{thirdSlideImg}});">
                    <!-- <img src="./img/pngegg.png" alt="transformer"> -->
                </figure>
            </DIV>
        </div>
        <div class="gerd flex" style="place-items: start;" id="mainCont2">
            <div style=" height: 20em;flex-direction: column;place-items: baseline;flex:1;" class="flex">
                <h1 id="bgTxt" class="anik" style="animation-delay: .5s;">{{headingFour}}</h1>
                <article class="anik" style="animation-delay: 1s;">
                {{paraFour1}}
                </article>
                 <article class="anik" style="animation-delay: 1.38s;">
                {{paraFour2}}
                </article>
                 <article class="anik" style="animation-delay:2s;">
                {{paraFour3}}
                </article>
                {{!-- <article class="anik" style="animation-delay: 1.38s;">
                    electricity by igniting your world via various energy
                </article>
                <article class="anik" style="animation-delay: 2s;"> sources that best suit your needs</article> --}}
                <a href="../contact">
                <button class="anik bigBtn">
                    Get in Touch
                </button>
                </a>
            </div>
            <DIV
                style="opacity: 0;  ; animation: opl 1s  2.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards; width: 50%;  flex:1;      ">

                <figure class="imgs" style="background-image: url({{fourthSlideImg}});">
                    <!-- <img src="./img/pngegg.png" alt="transformer"> -->
                </figure>
            </DIV>
        </div>
        <div class="gerd flex" style="place-items: start;" id="mainCont2">
            <div style=" height: 20em;flex-direction: column;place-items: baseline;flex:1;" class="flex">
                <h1 id="bgTxt" class="anik" style="animation-delay: .5s;">{{headingFive}}</h1>
                <article class="anik" style="animation-delay: 1s;">
                {{paraFive1}}
                </article>
                 <article class="anik" style="animation-delay: 1.38s;">
                {{paraFive2}}
                </article>
                 <article class="anik" style="animation-delay:2s;">
                {{paraFive3}}
                </article>
                {{!-- <article class="anik" style="animation-delay: 1.38s;">
                    electricity by igniting your world via various energy
                </article>
                <article class="anik" style="animation-delay: 2s;"> sources that best suit your needs</article> --}}
                <a href="../contact">
                <button class="anik bigBtn">
                    Get in Touch
                </button>
                </a>
            </div>
            <DIV
                style="opacity: 0;  ; animation: opl 1s  2.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards; width: 50%;  flex:1;      ">

                <figure class="imgs" style="background-image: url({{fifthSlideImg}});">
                    <!-- <img src="./img/pngegg.png" alt="transformer"> -->
                </figure>
            </DIV>
        </div>
    </section>
    <section id="secondSec" style="position:relative;">
        <div class=" secPad" style="padding-top: 2em;">
            <div class="flex" style="margin-bottom: 1em;">
                <h1>Our Services</h1>
                <hr style="width: 65vw;background-color: purple;">
            </div>
            <div class="grid-container" id="df">
                <div class="serv grid-item">
                    <figure style="background-image: url({{firstServImg}});" class="bg curvCor">
                        <div class="flex">
                            <h5 style=" margin: 0;">
                                {{svc1title}}
                                <hr>
                            </h5>
                            <article>{{svc1des}}</article>
                        </div>
                    </figure>
                    <h3 style="margin: 0.3em 0;">{{svc1title}}</h3>
                </div>
                <div class="serv grid-item" style="animation-delay:.523s;">
                    <figure class="bg curvCor" style="background-image: url({{secServImg}});" >
                        <div class="flex">
                            <h5 style="    margin: 0;">
                                {{svc2title}}
                                <hr>
                            </h5>
                            <article>{{svc2des}}</article>
                        </div>
                    </figure>
                    <h3 style="margin: 0.3em 0;">
                        {{svc2title}} 
                    </h3>

                </div>
                <div class="serv grid-item" style="animation-delay:1.03s;">
                    <figure class="bg curvCor"  style="background-image: url({{thirdServImg}});" >
                        <div class="flex">
                            <h5 style="    margin: 0;">
                                {{svc3title}}
                                <hr>
                            </h5>
                            <article>{{svc3des}}</article>
                        </div>
                    </figure>
                    <h3 style="margin: 0.3em 0;">
                        {{svc3title}}
                    </h3>

                </div>
                <div class="serv grid-item"style="animation-delay:2s;">
                    <figure class="bg curvCor" style="background-image: url({{fourthServImg}});">
                        <div class="flex">
                            <h5 style="    margin: 0;">
                                {{svc4title}}
                                <hr>
                            </h5>
                            <article>{{svc4des}}</article>
                        </div>
                    </figure>
                    <h3 style="margin: 0.3em 0;">
                        {{svc4title}}
                    </h3>

                </div>
                <div class="serv grid-item" style="animation-delay:2.53s;">
                    <figure class="bg curvCor" style="background-image: url({{fifthServImg}});">
                        <div class="flex">
                            <h5 style="    margin: 0;">
                                {{svc5title}}
                                <hr>
                            </h5>
                            <article>{{svc5des}}</article>
                        </div>
                    </figure>
                    <h3 style="margin: 0.3em 0;">
                        {{svc5title}}
                    </h3>


                </div>
                <div class="serv grid-item" style="animation-delay:1.03s;">
                    <figure class="bg curvCor"  style="background-image: url({{sixthServImg}});" >
                        <div class="flex">
                            <h5 style="    margin: 0;">
                                {{svc6title}}
                                <hr>
                            </h5>
                            <article>{{svc6des}}</article>
                        </div>
                    </figure>
                    <h3 style="margin: 0.3em 0;">
                        {{svc6title}}
                    </h3>

                </div>
                <div class="serv grid-item"style="animation-delay:2s;">
                    <figure class="bg curvCor" style="background-image: url({{seventhServImg}});">
                        <div class="flex">
                            <h5 style="    margin: 0;">
                                {{svc7title}}
                                <hr>
                            </h5>
                            <article>{{svc7des}}</article>
                        </div>
                    </figure>
                    <h3 style="margin: 0.3em 0;">
                        {{svc7title}}
                    </h3>

                </div>
                <div class="serv grid-item" style="animation-delay:2.53s;">
                    <figure class="bg curvCor" style="background-image: url({{eightServImg}});">
                        <div class="flex">
                            <h5 style="    margin: 0;">
                                {{svc8title}}
                                <hr>
                            </h5>
                            <article>{{svc8des}}</article>
                        </div>
                    </figure>
                    <h3 style="margin: 0.3em 0;">
                        {{svc8title}}
                    </h3>


                </div>
                <div class="serv grid-item" style="animation-delay:3.03s;">
                   <a href="../services"> <figure class="bg curvCor" style="background-image: url({{ninthServImg}});">
                        <div class="flex" style="">
                            <h5 style="    margin: 0;">
                                {{svc9title}}
                                <hr>
                            </h5>
                            <article>{{svc9des}}</article>
                        </div>
                    </figure>
                    </a>
                    <h3 style="margin: 0.3em 0;">
                        {{svc9title}}
                    </h3>

                </div>
            </div>
        </div>

    </section>
    <div style="position: relative;">
        <div class="custom-shape-divider-top-1675691460">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <!-- Third section -->
    <section class="sec paralax">
        <div class="">
            <!-- <div id="iop" class="flex">
                <div style="border-bottom-left-radius: 346%;
                border-bottom-right-radius: 274%;" class="curvers"></div>
                <div class="curvers"></div>
            </div> -->
            <div class="flex" style="height: inherit;flex-direction: column;">
                <h2 style="font-size: xxx-large;">Providing Power you can trust</h2>
                <a href="../contact">
                    <button class="bigBtn" id="bnh" >Drop Us A Message</button>
                </a>
            </div>
        </div>
    </section>
    <!-- partners -->
    <section>
        <div style="background-color: white;height: inherit;color: blueviolet;padding-top: 2em;">
            <h1 style="text-align: center;">Our Trusted Partners</h1>
            <marquee behavior="slide" direction="left">
                <ul class="flex">
                    <li>
                        <figure><img src="./img/Enugu-Electricity-Distribution-Plc.png" alt="" srcset=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/JEDC-1-1024x796.jpg" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/how-to-buy-kedco-token.jpg" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/JEDC-1-1024x796.jpg" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/Eko-Electric-Payment-PHCN-1.jpg" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/how-to-buy-kedco-token.jpg" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/Enugu-Electricity-Distribution-Plc.png" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/JEDC-1-1024x796.jpg" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/Eko-Electric-Payment-PHCN-1.jpg" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/how-to-buy-kedco-token.jpg" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/Enugu-Electricity-Distribution-Plc.png" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/JEDC-1-1024x796.jpg" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/Eko-Electric-Payment-PHCN-1.jpg" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/how-to-buy-kedco-token.jpg" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="./img/Enugu-Electricity-Distribution-Plc.png" alt=""></figure>
                    </li>
                </ul>
            </marquee>
            <!-- <div style="position: relative;">

                <div class="custom-shape-divider-top-1675737050">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
                    </svg>
                </div>
            </div> -->
        </div>
    </section>