<section class="secPad">
    <h1>Services</h1>
    <p>we offer a wide range of services</p>
    <div>
        <div class="flex srvCar " style="margin-top: 0;">
            <div class="bxShdw srvDescCar curvCor">
                <div>
                    <header class="padBx curvCor srvHdng"
                        style="border-bottom: solid thin var(--purple);border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                        <h3 style="color: var(--purple);">{{svc1title}}</h3>
                    </header>
                    <p style="padding-top: 0;" class="lineHeight padBx">
                       {{svc1des}}
                    </p>
                </div>
            </div>
            <div class="bxShdw curvCor srvImgCar bg"
                style="background-image: url({{firstServImg}});background-color:var(--orange);">
                {{!-- <img src="" alt="" class="imgs curvCor"> --}}

            </div>
        </div>

        <div class="flex srvCar ">

            <div class="slidLft scrollable bxShdw curvCor srvImgCar bg"
                style="background-image: url({{secServImg}});background-color:var(--orange);">
                {{!-- <img src="" alt="" class="imgs curvCor"> --}}

            </div>
            <div class="bxShdw srvDescCar curvCor">
                <div>
                    <header class="padBx curvCor srvHdng"
                        style="border-bottom: solid thin var(--purple);border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                        <h3 style="color: var(--purple);">{{svc2title}}</h3>
                    </header>
                    <p style="padding-top: 0;" class="lineHeight padBx">
                        {{svc2des}}
                    </p>
                </div>
            </div>
        </div>
        <div class="flex srvCar " style="margin-top: 0;">
            <div class="bxShdw srvDescCar curvCor">
                <div>
                    <header class="padBx curvCor srvHdng"
                        style="border-bottom: solid thin var(--purple);border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                        <h3 style="color: var(--purple);">{{svc3title}}</h3>
                    </header>
                    <p style="padding-top: 0;" class="lineHeight padBx">
                       {{svc3des}}
                    </p>
                </div>
            </div>
            <div class="slidRgt scrollable bxShdw curvCor srvImgCar bg"
                style="background-image: url({{thirdServImg}});background-color:var(--orange);">
                {{!-- <img src="" alt="" class="imgs curvCor"> --}}

            </div>
        </div>

        <div class="flex srvCar ">

            <div class="slidLft scrollable bxShdw curvCor srvImgCar bg"
                style="background-image: url({{fourthServImg}});background-color:var(--orange);">
                {{!-- <img src="" alt="" class="imgs curvCor"> --}}

            </div>
            <div class="bxShdw srvDescCar curvCor">
                <div>
                    <header class="padBx curvCor srvHdng"
                        style="border-bottom: solid thin var(--purple);border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                        <h3 style="color: var(--purple);">{{svc4title}}</h3>
                    </header>
                    <p style="padding-top: 0;" class="lineHeight padBx">
                        {{svc4des}}
                    </p>
                </div>
            </div>
        </div>
        <div class="flex srvCar " style="margin-top: 0;">
            <div class="bxShdw srvDescCar curvCor">
                <div>
                    <header class="padBx curvCor srvHdng"
                        style="border-bottom: solid thin var(--purple);border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                        <h3 style="color: var(--purple);">{{svc5title}}</h3>
                    </header>
                    <p style="padding-top: 0;" class="lineHeight padBx">
                        {{svc5des}}
                    </p>
                </div>
            </div>
            <div class="slidRgt scrollable bxShdw curvCor srvImgCar bg"
                style="background-image: url({{fifthServImg}});background-color:var(--orange);">
                {{!-- <img src="" alt="" class="imgs curvCor"> --}}

            </div>
        </div>

        <div class="flex srvCar ">

            <div class="slidLft scrollable bxShdw curvCor srvImgCar bg"
                style="background-image: url({{sixthServImg}});background-color:var(--orange);">
                {{!-- <img src="" alt="" class="imgs curvCor"> --}}

            </div>
            <div class="bxShdw srvDescCar curvCor">
                <div>
                    <header class="padBx curvCor srvHdng"
                        style="border-bottom: solid thin var(--purple);border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                        <h3 style="color: var(--purple);">{{svc6title}}</h3>
                    </header>
                    <p style="padding-top: 0;" class="lineHeight padBx">
                        {{svc6des}}
                    </p>
                </div>
            </div>
        </div>
        <div class="flex srvCar " style="margin-top: 0;">
            <div class="bxShdw srvDescCar curvCor">
                <div>
                    <header class="padBx curvCor srvHdng"
                        style="border-bottom: solid thin var(--purple);border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                        <h3 style="color: var(--purple);">{{svc7title}}</h3>
                    </header>
                    <p style="padding-top: 0;" class="lineHeight padBx">
                        {{svc7des}}
                    </p>
                </div>
            </div>
            <div class="slidRgt scrollable bxShdw curvCor srvImgCar bg"
                style="background-image: url({{seventhServImg}});background-color:var(--orange);">
                {{!-- <img src="" alt="" class="imgs curvCor"> --}}

            </div>
        </div>

        <div class="flex srvCar ">

            <div class="slidLft scrollable bxShdw curvCor srvImgCar bg"
                style="background-image: url({{eightServImg}});background-color:var(--orange);">
                {{!-- <img src="" alt="" class="imgs curvCor"> --}}

            </div>
            <div class="bxShdw srvDescCar curvCor">
                <div>
                    <header class="padBx curvCor srvHdng"
                        style="border-bottom: solid thin var(--purple);border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                        <h3 style="color: var(--purple);">{{svc8title}}</h3>
                    </header>
                    <p style="padding-top: 0;" class="lineHeight padBx">
                        {{svc8des}}
                    </p>
                </div>
            </div>
        </div>
        <div class="flex srvCar" style="margin-top: 0;">
            <div class="bxShdw srvDescCar curvCor">
                <div>
                    <header class="padBx curvCor srvHdng"
                        style="border-bottom: solid thin var(--purple);border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                        <h3 style="color: var(--purple);">{{svc9title}}</h3>
                    </header>
                    <p style="padding-top: 0;" class="lineHeight padBx">
                       {{svc9des}}
                    </p>
                </div>
            </div>
            <div class="slidRgt scrollable bxShdw curvCor srvImgCar bg"
                style="background-image: url({{ninthServImg}});background-color:var(--orange);">
                {{!-- <img src="" alt="" class="imgs curvCor"> --}}

            </div>
        </div>

        <div class="flex srvCar">

            <div class="slidLft scrollable bxShdw curvCor srvImgCar bg"
                style="background-image: url({{tenthServImg}});background-color:var(--orange);">
                {{!-- <img src="" alt="" class="imgs curvCor"> --}}

            </div>
            <div class="bxShdw srvDescCar curvCor">
                <div>
                    <header class="padBx curvCor srvHdng"
                        style="border-bottom: solid thin var(--purple);border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                        <h3 style="color: var(--purple);">{{svc10title}}</h3>
                    </header>
                    <p style="padding-top: 0;" class="lineHeight padBx">
                        {{svc10des}}
                    </p>
                </div>
            </div>
        </div>
        
    </div>


    <script>

        window.addEventListener('scroll', () => {
            handleScrollAnimation();
        })
        const scrollOffset = 100;
        const scrollElements = document.querySelectorAll(".scrollable");

        const elementInView = (el, offset = 0) => {
            const elementTop = el.getBoundingClientRect().top;
            return (
                elementTop <= ((window.innerHeight || document.documentElement.clientHeight) - offset)
            );
        };


        const displayScrollElement = (element) => {
            element.classList.add("scrolled");
        };
        const handleScrollAnimation = () => {
            scrollElements.forEach((el) => {
                if (elementInView(el, 100)) {
                    displayScrollElement(el);
                }
            })
        }
    </script>

</section>